---
ops_vrfs:
  - name: vrf_default
    ports: [ eth1, eth2, eth3 ]
    bgp_routers:
      - as_number: 2001
        router_id: 1.1.1.1
        networks: [11.1.1.0/24, 11.2.1.0/24, 11.3.1.0/24]
        maximum_paths: 3
        neighbors:
          - address: 11.1.1.2
            remote_as: 1001
          - address: 11.2.1.2
            remote_as: 1002
          - address: 11.3.1.2
            remote_as: 1003

ops_intf_admin_state: up

ops_interfaces:
  - name: eth1
  - name: eth2
  - name: eth3

ops_ports:
  - name: eth1
    ipv4_address: 11.1.1.1/24
  - name: eth2
    ipv4_address: 11.2.1.1/24
  - name: eth3
    ipv4_address: 11.3.1.1/24
